/*bootstrapÃƒÆ’Ã‚Â¨Ãƒâ€šÃ‚Â¡Ãƒâ€šÃ‚Â¥ÃƒÆ’Ã‚Â¥ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â¦ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â¦*/
.btn-register { 
  color: #ffffff; 
  background-color: #E92322; 
  border-color: #DB3B43; 
} 
 
.btn-register:hover, 
.btn-register:focus, 
.btn-register:active, 
.btn-register.active, 
.open .dropdown-toggle.btn-register { 
  color: #ffffff; 
  background-color: #E92322; 
  border-color: #DB3B43; 
} 
 
.btn-register:active, 
.btn-register.active, 
.open .dropdown-toggle.btn-register { 
  background-image: none; 
} 
 
.btn-register.disabled, 
.btn-register[disabled], 
fieldset[disabled] .btn-register, 
.btn-register.disabled:hover, 
.btn-register[disabled]:hover, 
fieldset[disabled] .btn-register:hover, 
.btn-register.disabled:focus, 
.btn-register[disabled]:focus, 
fieldset[disabled] .btn-register:focus, 
.btn-register.disabled:active, 
.btn-register[disabled]:active, 
fieldset[disabled] .btn-register:active, 
.btn-register.disabled.active, 
.btn-register[disabled].active, 
fieldset[disabled] .btn-register.active { 
  background-color: #E92322; 
  border-color: #DB3B43; 
} 
 
.btn-register .badge { 
  color: #E92322; 
  background-color: #ffffff; 
}




.navbar-itcast {
  background-color: #fff;
  border-color: #f5f5f5;
  margin-bottom: 0;
  top: 0;
  width: 100%;
}
.navbar-itcast .navbar-brand {
  color: #777;
  height:80px;
}
.navbar-itcast .navbar-brand:hover,
.navbar-itcast .navbar-brand:focus {
  color: #5e5e5e;
  background-color: transparent;
}
.navbar-itcast .navbar-text {
  color: #777;
}
.navbar-itcast .navbar-nav > li > a {
  color: #777;
  line-height: 48px;
  font-size:14px;
}
.navbar-itcast .navbar-nav > li > a:hover,
.navbar-itcast .navbar-nav > li > a:focus {
  color: #333;
  background-color: transparent;
  border-bottom: 2px solid #e92322;
}
.navbar-itcast .navbar-nav > .active > a,
.navbar-itcast .navbar-nav > .active > a:hover,
.navbar-itcast .navbar-nav > .active > a:focus {
  color: #555;
  background-color: #fff;
  border-bottom: 2px solid #e92322;
}
.navbar-itcast .navbar-nav > .disabled > a,
.navbar-itcast .navbar-nav > .disabled > a:hover,
.navbar-itcast .navbar-nav > .disabled > a:focus {
  color: #ccc;
  background-color: transparent;
}
.navbar-itcast .navbar-toggle {
  border-color: #ddd;
  margin-top: 23px;
}
.navbar-itcast .navbar-toggle:hover,
.navbar-itcast .navbar-toggle:focus {
  background-color: #ddd;
}
.navbar-itcast .navbar-toggle .icon-bar {
  background-color: #888;
}
.navbar-itcast .navbar-collapse,
.navbar-itcast .navbar-form {
  border-color: #e7e7e7;
}
.navbar-itcast .navbar-nav > .open > a,
.navbar-itcast .navbar-nav > .open > a:hover,
.navbar-itcast .navbar-nav > .open > a:focus {
  color: #555;
  background-color: #e7e7e7;
}
@media (max-width: 767px) {
  .navbar-itcast .navbar-nav .open .dropdown-menu > li > a {
    color: #777;
  }
  .navbar-itcast .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-itcast .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333;
    background-color: transparent;
  }
  .navbar-itcast .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-itcast .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-itcast .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #555;
    background-color: #e7e7e7;
  }
  .navbar-itcast .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-itcast .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-itcast .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
  }
}
.navbar-itcast .navbar-link {
  color: #777;
}
.navbar-itcast .navbar-link:hover {
  color: #333;
}
.navbar-itcast .btn-link {
  color: #777;
}
.navbar-itcast .btn-link:hover,
.navbar-itcast .btn-link:focus {
  color: #333;
}
.navbar-itcast .btn-link[disabled]:hover,
fieldset[disabled] .navbar-itcast .btn-link:hover,
.navbar-itcast .btn-link[disabled]:focus,
fieldset[disabled] .navbar-itcast .btn-link:focus {
  color: #ccc;
}
.panel-wjs {
  /* border-color: #ddd; */
}
.panel-wjs.actived {
    background-color: #e92322;
    color: #fff;
}
.panel-wjs.actived::before {
  content:"\e915";
  font-family: itcast;
  font-size: 35px;
  position: absolute;
  top: -7px;
  left: 15px;
}
.panel-wjs.disabled {
    background-color: #e0e0e0;
}
.panel-wjs > .panel-heading {
  /* color: #333; */
  /* background-color: #f5f5f5; */
  /* border-color: #ddd; */
  float: right;
  width: 120px;
  padding: 45px 0 35px;
  height: 150px;
  /* line-height: 150px; */
  border-left: 1px dashed #c0c0c0;
  text-align: center;
  position: relative;
}
.panel-wjs > .panel-heading::after,.panel-wjs > .panel-heading::before {
  content: ' ';
  width: 16px;
  height: 16px;
  background: #f0f0f0;
  border-radius: 50%;
  position: absolute;
}
.panel-wjs > .panel-body {
  margin-right: 120px;
  height: 150px;
}
.panel-wjs > .panel-heading::after {
    bottom: -8px;
    left: -8px;
    box-shadow: 0 2px 1px #c0c0c0 inset;
}
.panel-wjs > .panel-heading::before {
    top: -8px;
    left: -8px;
}
.panel-wjs > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #ddd;
}
.panel-wjs > .panel-heading .badge {
  color: #f5f5f5;
  background-color: #333;
}

.nav-pills > li {
  float: left;
}
.nav-pills > li > a {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: #f5f5f5;
  margin-right: 20px;
    margin-bottom: 20px;
}
.nav-pills > li + li {
  margin-left: 2px;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #fff;
  background-color: #e92322;
}
.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #e92322;
}
/*ÃƒÆ’Ã‚Â¥ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â¦Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã‚Â¥ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â¦Ãƒâ€šÃ‚Â±ÃƒÆ’Ã‚Â¦Ãƒâ€šÃ‚Â Ãƒâ€šÃ‚Â·ÃƒÆ’Ã‚Â¥Ãƒâ€šÃ‚Â¼Ãƒâ€šÃ‚Â*/
body {
	height: 2000px;
  font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;;
}
@font-face{
	font-family: "itcast";
	src:url(../font/MiFie-Web-Font.eot) format('embedded-opentype'),
	url(../font/MiFie-Web-Font.svg) format('svg'),
	url(../font/MiFie-Web-Font.ttf) format('truetype'),
	url(../font/MiFie-Web-Font.woff) format('woff');
}
[class^="icon-"],[class*=" icon-"] {
	font-family: itcast;
	font-style: normal;
}
.icon-mobilephone::before {
  content: "\e908";
  font-size: 13px;
}

.icon-telephone::before {
  content: "\e909";
  font-size: 15px;
}
.icon-logo::before {
  content: "\e93e";
}

.icon-icon::before {
  content: "\e920";
}
.icon-uniE907:before {
    content: "\e907";
}
.icon-uniE906:before {
    content: "\e906";
}
.icon-uniE905:before {
    content: "\e905";
}
.icon-news01:before {
  content: "\e90e";
  font-size: 28px;
  color: #EAEAEA;
}

.icon-news02:before {
  content: "\e90f";
  font-size: 28px;
  color: #EAEAEA;
}

.icon-news03:before {
  content: "\e910";
  font-size: 28px;
  color: #EAEAEA;
}

.icon-news04:before {
  content: "\e911";
  font-size: 28px;
  color: #EAEAEA;
}
.icon-uniE930:hover {
  color: #df3232;
}

.icon-uniE930:before {
  content: "\e946";
}

.icon-uniE92F:hover {
  color: #e8380d;
}

.icon-uniE92F:before {
  content: "\e92f";
}

.icon-uniE92E:hover {
  color: #ed6f00;
}

.icon-uniE92E:before {
  content: "\e92e";
}

.icon-uniE92A:hover {
  color: #159f69;
}

.icon-uniE92A:before {
  content: "\e92a";
}

.icon-uniE929:hover {
  color: #07569e;
}

.icon-uniE929:before {
  content: "\e929";
}

.icon-uniE931:hover {
  color: #004098;
}

.icon-uniE931:before {
  content: "\e931";
}

.icon-uniE92C:hover {
  color: #d32019;
}

.icon-uniE92C:before {
  content: "\e92c";
}

.icon-uniE92B:hover {
  color: #3eac4a;
}

.icon-uniE92B:before {
  content: "\e92b";
}

.icon-uniE92D:hover {
  color: #2bb289;
}

.icon-uniE92D:before {
  content: "\e92d";
}
.cl {clear: both;}
/*ÃƒÆ’Ã‚Â¥Ãƒâ€šÃ‚Â¤Ãƒâ€šÃ‚Â´ÃƒÆ’Ã‚Â©Ãƒâ€ Ã¢â‚¬â„¢Ãƒâ€šÃ‚Â¨ÃƒÆ’Ã‚Â¦Ãƒâ€šÃ‚Â Ãƒâ€šÃ‚Â·ÃƒÆ’Ã‚Â¥Ãƒâ€šÃ‚Â¼Ãƒâ€šÃ‚Â*/
#header {
	
}
#header > .topbar {
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #c0c0c0;
}
#header > .topbar > .container > .row > div {
	font-size:12px;
	color: #888;
	height: 40px;
}
#header > .topbar > .container > .row > div + div {
	border-left: 1px solid #c0c0c0;
}
#header a {
	color: #888;
}
#header a:hover {
	text-decoration: none;
}
#header .moblie-link > img{
	display: none;
}
#header .moblie-link:hover > img {
	display: block;
	position: absolute;
	top: 27px;
	left: 50%;
	margin-left: -60px;
	z-index: 1001;
}
#header .btn-register {
	color: #ffffff;
}
#header .icon-icon {
	color: #E92322;
	font-size: 50px;
	line-height: 50px;
	vertical-align: middle;
}
#header .icon-logo {
	color: #333;
	font-size: 32px;
	line-height: 50px;
	vertical-align: middle;
}
/*ÃƒÆ’Ã‚Â¨Ãƒâ€šÃ‚Â½Ãƒâ€šÃ‚Â®ÃƒÆ’Ã‚Â¦ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢Ãƒâ€šÃ‚Â­ÃƒÆ’Ã‚Â¥Ãƒâ€šÃ‚Â¹Ãƒâ€šÃ‚Â¿ÃƒÆ’Ã‚Â¥ÃƒÂ¢Ã¢â€šÂ¬Ã‹Å“Ãƒâ€¦Ã‚Â ÃƒÆ’Ã‚Â¦Ãƒâ€šÃ‚Â Ãƒâ€šÃ‚Â·ÃƒÆ’Ã‚Â¥Ãƒâ€šÃ‚Â¼Ãƒâ€šÃ‚Â*/
#main_ad > .carousel-inner > .item {
  
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
}
@media (min-width: 768px) {
  #main_ad > .carousel-inner > .item {
    height:410px;
  }
  
}
#main_ad > .carousel-inner > .item > img {
  width: 100%;
}

/*ÃƒÆ’Ã‚Â§ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â°Ãƒâ€šÃ‚Â¹ÃƒÆ’Ã‚Â¨ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â°Ãƒâ€šÃ‚Â²ÃƒÆ’Ã‚Â¤Ãƒâ€šÃ‚Â»ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â¹ÃƒÆ’Ã‚Â§Ãƒâ€šÃ‚Â»Ãƒâ€šÃ‚Â*/
#tese {
  padding: 50px 0;
  border-bottom: 1px solid #c0c0c0;
}
#tese  i {
  font-size: 32px;
}
#tese a {
  color: #333;
}
#tese a:hover {
  text-decoration: none;
  color: #e92322;
}
#tese > .container > .row > div {
  margin-bottom: 20px;
  margin-top: 20px;
}
/*ÃƒÆ’Ã‚Â§Ãƒâ€šÃ‚Â«ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â¹ÃƒÆ’Ã‚Â¥Ãƒâ€šÃ‚ÂÃƒâ€šÃ‚Â³ÃƒÆ’Ã‚Â©Ãƒâ€šÃ‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¾ÃƒÆ’Ã‚Â§Ãƒâ€šÃ‚ÂºÃƒâ€šÃ‚Â¦*/
#ljyy {
  padding: 20px 0;
  border-bottom: 1px solid #c0c0c0;
}
#ljyy > .container p {
  font-size: 16px;
  margin-bottom: 0;
}
#ljyy > .container > p > span {
  color: #e92322;
}
#ljyy > .container > .pull-left > a {
  color: #e92322;
  border-bottom: 1px dashed #e92322;
}
#ljyy > .container > .pull-right > a {
  color: #333;
}
#ljyy > .container > .pull-right > a {
  text-decoration: none;
}


/*ÃƒÆ’Ã‚Â¤Ãƒâ€šÃ‚ÂºÃƒâ€šÃ‚Â§ÃƒÆ’Ã‚Â¥ÃƒÂ¢Ã¢â€šÂ¬Ã…â€œÃƒâ€šÃ‚ÂtabÃƒÆ’Ã‚Â¦Ãƒâ€šÃ‚Â Ãƒâ€šÃ‚ÂÃƒÆ’Ã‚Â¦Ãƒâ€šÃ‚Â Ãƒâ€šÃ‚Â·ÃƒÆ’Ã‚Â¥Ãƒâ€šÃ‚Â¼Ãƒâ€šÃ‚Â*/
#products {
  background-color: #f0f0f0;
  padding: 40px 0;
}
#products > .container > .ul-wapper > .nav-tabs {}
#products > .container > .ul-wapper > .nav-tabs > li{}
#products > .container > .ul-wapper > .nav-tabs > li > a{
    font-size: 16px;
    color: #333;
}
#products > .container > .ul-wapper > .nav-tabs > li.active > a{
    background-color: transparent;
    border: 0;
    border-bottom: 4px solid #e92322;
}
#products > .container > .ul-wapper > .nav-tabs > li > a:hover{
background-color: transparent;border-color: transparent;color: #000;}
#products > .container > .ul-wapper > .nav-tabs > li.active{}
#products > .container > .tab-content {
  padding: 20px 0;
}
#products > .container > .tab-content p {
  margin-bottom: 0;
}
/*#products > .container > .tab-content .row {
  overflow: hidden;
}*/
#products > .container > .tab-content .panel-heading strong {
  font-size: 36px;
}


/*æ–°é—»ç‰ˆå—æ ·å¼*/
#news {
  padding: 50px 0;
  border-bottom: 1px solid #c0c0c0;
}
#news .news-title {
  padding: 15px 0;
  border-bottom: 1px dashed #c0c0c0;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  position: relative;
  margin-right: 10px;
}
#news .news-title::after{
  content: ' ';
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #c0c0c0;
  bottom: -5px;
  right: -10px;
}
#new .nav-pills li a {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: #e92322;
}
#news .tab-content .tab-pane ul {
  list-style: none;
}
#news .tab-content .tab-pane ul li {
  line-height: 40px;
}

/*åˆä½œä¼™ä¼´æ ·å¼*/
#hzhb {
  padding: 20px 0;
}
#hzhb > .container > ul {
  list-style: none;
  padding: 0;
  width: 818px;
 /* position: relative;
  overflow: hidden;
*/}
#hzhb > .container > ul > li {
  float: left;
}
#hzhb > .container > ul > li + li {
  border-left: 1px dashed #c0c0c0;
}
#hzhb > .container > ul > li > a {
  font-size: 50px;
  padding: 10px 20px;
  color: #888;
}
#hzhb > .container > ul > li > a:hover {
  text-decoration: none;
}